@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Doctor
@using DoctorsOffice.Models
@using System.Collections.Generic;

<h2>Doctor Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Specialty): @Html.DisplayFor(model => model.Specialty)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <h3>This doctor does not have any patients.</h3>
}
else {
  <h4>Patients that this doctor sees:</h4>
  <ul>
    @foreach (DoctorPatient join in Model.JoinEntities)
    {
      <li>@join.Patient.Name</li>
    }
  </ul>
}
<p>@Html.ActionLink("Add new patient", "Create", "Patients")</p>
<p>@Html.ActionLink("Back to doctors list", "Index")</p>
