@{
  Layout = "_Layout";
}

@model DoctorsOffice.Models.Specialty
@using DoctorsOffice.Models

<h2>Add a doctor</h2>

<h4>Add a doctor to this specialty: @Html.DisplayFor(model => model.Title)</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.SpecialtyId)
  @Html.Label("Select doctor")
  @Html.DropDownList("DoctorId")
  <input type="submit" value="Add new doctor" class="btn btn-primary"/>
}
<br>
<p>@Html.ActionLink("View doctors list", "Index", "Doctors")</p>
<p>@Html.ActionLink("Back to specialties list", "Index", "Specialties")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>