@{
  Layout = "_Layout";
}

@using DoctorsOffice.Models
@model DoctorsOffice.Models.Patient

<h2>Patient Details</h2>
<hr/>
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Doctor): @Html.DisplayFor(model => model.Doctor.Name)</h3>
<h3>@Html.DisplayNameFor(model => model.Birthdate): @Html.DisplayFor(model => model.Birthdate)</h3>

@if (@Model.JoinEntities.Count == 0)
{
  <p>This patient does not see any doctors yet.</p>
}
else
{
  <h4>This patient sees the following doctors:</h4>
  <ul>
    @foreach(DoctorPatient join in Model.JoinEntities)
    {
      <li>Doctor: @join.Doctor.Name</li>
    }
  </ul>
}

<p>@Html.ActionLink("Add a Doctor", "AddDoctor", new { id = Model.PatientId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>